<footer class="section footer">
    <div class="container">
        <div class="footer-top-wrapper">
            <div class="footer__social">
                <figure class="footer__social__photo">
                    <img loading= "lazy" src="img/pp.jpeg" alt="Kadir Furkan Kiraz">
                </figure>
                <p class="footer__social__desc"> 🚀 <b>Stay in the loop!</b>
                    <br>Follow my journey and my further products on Twitter!
                </p>
            </div>
            {% include 'social-badge' %}
        </div>
        <div class="footer-bottom-wrapper">
            <div class="footer__item">• awesomepeers</div>
            <a class="footer__item link" href="#" title="Privacy & Terms" target="blank">Privacy & Terms</a>
        </div>
    </div>
</footer>