<header class="header">
    <div class="container">
            <a href="/" class="header__logo" title="Awesome Peers">
                <svg class="icon icon-logo"><use xlink:href="#icon-logo"></use></svg>
                <div class="header__logo__name">awesome <span class="mark">peers</span></div>
            </a>
    </div>
</header>