<a href="http://twitter.com/hellokfk" class="social__badge link" title="@hellokfk twitter" target="blank">
    <svg class="icon icon-twitter social__badge__icon">
        <use xlink:href="#icon-twitter"></use>
    </svg>
    <p class="social__badge__link">@hellokfk</p>
</a>