{% layout 'master' %}
{% block page_title %} Thanks! | {% endblock %}

{% block content %} 
<div class="thanks section">
    <div class="container">
        <div class="thanks-wrapper">
            <div class="thanks__content">
                <div class="thanks__content__title">
                    Check your <span class="mark">mailbox!</span>
                </div>
                <div class="thanks__content__subtitle">
                    Happy to see you here!<br>I've sent the full list which includes 900+ people to meet. <br>It may take a few minutes for the mail to arrive. <br>Email might have been sent to spam or promotions.<br>Don't forget to check them too. <br>Feel free to contact me if there is any problem!
                </div>
            </div>
            <img src="/img/mail.svg" alt="">
        </div>
    </div>
</div>
{% endblock %}